.App {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.formWrapper {
  border: solid 1px black;
  margin-top: 20px;
  padding: 10px 25px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.listWrapper {
  padding-top: 20px;
}

.user {
  border: solid 1px black;
  margin-top: 10px;
  padding: 10px;
}
